
.nav{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo{
    color:#000;
    font-weight: 600;
    font-size: 16px;
}
.link{
    color:#000;
    font-weight: 500;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
}
.wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.list{
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.item{
    margin-right: 10px;
}
.item:last-child{
    margin-right: 0;
}
.connection{
    display: flex;
    align-items:center;
    justify-content: center;
}